{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <br><br>
    <br><br>
    <div class="row mt-2">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Suppression globales des annonces d'une organisation</h5>
                    {# <h6 class="card-subtitle text-muted">Retrouvez ici toutes les annonces texte de l'organisation #}
                    {# connectée </h6> #}
                    {# <h6 class="card-subtitle text-muted" style="margin-top: .5rem;"> #}
                    {# <button class="btn btn-primary btn-success btn-sm">Sonorisée</button> #}
                    {# <button class="btn btn-primary btn-warning btn-sm">A traiter</button> #}
                    {# <button class="btn btn-primary btn-danger btn-sm">Expirée / Archivée</button> #}
                    {# </h6> #}
                </div>
                <div class="card-body">
                    {{ form_start(form,{"attr" : {"onsubmit" :"Are you sure you want to delete this item?" } }) }}
                    <div class="row">
                        {# <div class="row"> #}
                        {# <div class="alert p-2 alert-success">Supppression effectuer avec success</div> #}
                        {# </div> #}
                        <div class="col-12">

                            {{ form_widget(form) }}


                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-danger">Supprimer définitivement</button>
                        </div>
                    </div>
                    {{ form_end (form) }}
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block pageTitle %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

{% endblock %}
