<form method="post" style="display: inline-block" action="{{ path('partenaire_delete', {'id': partenaire.id}) }}" onsubmit="return confirm('Comfirmer vous la suppression?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
