<form method="post" action="{{ path('annonce_sonorise_delete', {'id': annonce_sonorise.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce_sonorise.id) }}">
    <button class="btn">Delete</button>
</form>
