{% extends 'base.html.twig' %}

{% block title %}New AnnonceSonorise{% endblock %}

{% block body %}
    <h1>Sonoriser une annonce</h1>

    {{ include('annonce_sonorise/_form.html.twig') }}

{% endblock %}



{% block  javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $("#submit-type").on('click', function () {
                    var audio = document.getElementById('audio');

                    var source = document.getElementById('audioSource');
                    source.src = document.getElementById('annonce_sonorise_url_sono').value/* "http://51.77.67.128/tb/1/e4/dj_arafat_gbobolor_clip_officiel_mp3_32559.mp3?play" */;
                    $('#iframe').val(`<audio id="audio" controls autoplay\>\n\t<source id="audioSource" src="${$('#fname').val()}">\n</audio>`);
                    audio.load(); //call this to just preload the audio without playing
                    audio.play(); //call this to play the song right away
                }
            );
        });

    </script>
{% endblock %}