{% extends 'base.html.twig' %}

{% block title %}New UserPermission{% endblock %}

{% block body %}
    <h1>Create new UserPermission</h1>

    {{ include('user_permission/_form.html.twig') }}

    <a href="{{ path('user_permission_index') }}">back to list</a>
{% endblock %}
