<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bootlab">

    <title> {% block  title %}
            ISO_SONO | Dashboard Admin
        {% endblock %}</title>

    {% block  stylesheets %}
        <link href="{{ asset('css/modern.css') }}" rel="stylesheet">
        <script src="{{ asset('js/settings.js') }}"></script>
    {% endblock %}
</head>

<body>

{% block  preloader %}
    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

{% endblock %}

<div class="wrapper">

    {% block  sidebar %}
        {% include 'block/sidebar.html.twig' %}
    {% endblock %}


    <div class="main">
        {% block  navbar %}
            <nav class="navbar navbar-expand navbar-theme">
                <a class="sidebar-toggle d-flex me-2">
                    <i class="hamburger align-self-center"></i>
                </a>

                <form class="d-none d-sm-inline-block">
                    <input class="form-control form-control-lite" type="text" placeholder="Recherche rapide...">
                </form>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle position-relative" href="#" id="messagesDropdown"
                               data-bs-toggle="dropdown">
                                <i class="align-middle fas fa-envelope-open"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                                 aria-labelledby="messagesDropdown">
                                <div class="dropdown-menu-header">
                                    <div class="position-relative">
                                        4 New Messages
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="img/avatars/avatar-5.jpg"
                                                     class="avatar img-fluid rounded-circle"
                                                     alt="Michelle Bilodeau">
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Michelle Bilodeau</div>
                                                <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu
                                                    tortor.
                                                </div>
                                                <div class="text-muted small mt-1">5m ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="img/avatars/avatar-3.jpg"
                                                     class="avatar img-fluid rounded-circle"
                                                     alt="Kathie Burton">
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Kathie Burton</div>
                                                <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.
                                                </div>
                                                <div class="text-muted small mt-1">30m ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="img/avatars/avatar-2.jpg"
                                                     class="avatar img-fluid rounded-circle"
                                                     alt="Alexander Groves">
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Alexander Groves</div>
                                                <div class="text-muted small mt-1">Curabitur ligula sapien euismod
                                                    vitae.
                                                </div>
                                                <div class="text-muted small mt-1">2h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <img src="img/avatars/avatar-4.jpg"
                                                     class="avatar img-fluid rounded-circle"
                                                     alt="Daisy Seger">
                                            </div>
                                            <div class="col-10 ps-2">
                                                <div class="text-dark">Daisy Seger</div>
                                                <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed,
                                                    posuere ac, mattis non.
                                                </div>
                                                <div class="text-muted small mt-1">5h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Show all messages</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown ms-lg-2">
                            <a class="nav-link dropdown-toggle position-relative" href="#" id="alertsDropdown"
                               data-bs-toggle="dropdown">
                                <i class="align-middle fas fa-bell"></i>
                                <span class="indicator"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                                 aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    4 New Notifications
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="ms-1 text-danger fas fa-fw fa-bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Update completed</div>
                                                <div class="text-muted small mt-1">Restart server 12 to complete the
                                                    update.
                                                </div>
                                                <div class="text-muted small mt-1">2h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="ms-1 text-warning fas fa-fw fa-envelope-open"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Lorem ipsum</div>
                                                <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate
                                                    hendrerit et.
                                                </div>
                                                <div class="text-muted small mt-1">6h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="ms-1 text-primary fas fa-fw fa-building"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Login from 192.186.1.1</div>
                                                <div class="text-muted small mt-1">8h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="ms-1 text-success fas fa-fw fa-bell-slash"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">New connection</div>
                                                <div class="text-muted small mt-1">Anna accepted your request.</div>
                                                <div class="text-muted small mt-1">12h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Show all notifications</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown ms-lg-2">
                            <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown"
                               data-bs-toggle="dropdown">
                                <i class="align-middle fas fa-cog"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#"><i class="align-middle me-1 fas fa-fw fa-user"></i>
                                    Mon
                                    profil</a>
                                <a class="dropdown-item" href="#"><i
                                            class="align-middle me-1 fas fa-fw fa-comments"></i>
                                    Support technique</a>
                                <a class="dropdown-item" href="#"><i
                                            class="align-middle me-1 fas fa-fw fa-chart-pie"></i>
                                    Suivi des demandes</a>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1 fas fa-fw fa-cogs"></i>
                                    Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i
                                            class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>

        {% endblock %}

        <main class="content">
            <div class="container-fluid">
                {% block  breadcrumb %}
                    <div class="header">
                        <h1 class="header-title">
                            Hey, Edwin Jimaja!
                        </h1>
                        <p class="header-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                {% endblock %}

                {% block  body %}

                    <div class="row">
                        <div class="col-xl-6 col-xxl-7">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-microchip"></i>17</h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Shadows en cours</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-bullhorn"></i>509</h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Annonces uploadés</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-bullhorn"></i>300</h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Annonces sonorisées</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-headphones"></i>90%</h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Uploadées VS Sonorisées</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xl-6 col-xxl-5 d-flex">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-self-center me-2 fas fa-fw fa-address-card"></i>2/5
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">
                                                            Utilisateurs actifs
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-file-alt"></i>300</h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Annonces actives</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-self-center me-2 fas fa-fw fa-stopwatch"></i>01h:03
                                                </h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Durée de sonorisation</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <h1 class="display-5 mt-1 mb-3" style="font-weight:800"><i
                                                            class="align-middle me-2 fas fa-fw fa-file-alt"></i>209</h1>
                                                <div class="mb-0">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">Annonces inactives</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Liste des Extractions</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Extr.</th>
                                        <th class="d-none d-xl-table-cell">Nom de fichier</th>
                                        <th class="d-none d-xl-table-cell">Date</th>
                                        <th>Taille</th>
                                        <th class="d-none d-md-table-cell">Format</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i class="icon-copy fa fa-microchip"
                                                                              aria-hidden="true"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Ext-12032021 | Pole Emploi</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">
                                                Télécharger
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td style="font-weight: 800;">1.3 Mo</td>
                                        <td class="d-none d-md-table-cell">.CSV</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i class="icon-copy fa fa-microchip"
                                                                              aria-hidden="true"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Ext-12032021 | Pole Emploi</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">
                                                Télécharger
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td style="font-weight: 800;">1.3 Mo</td>
                                        <td class="d-none d-md-table-cell">.CSV</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i class="icon-copy fa fa-microchip"
                                                                              aria-hidden="true"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Ext-12032021 | Pole Emploi</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;">
                                                Télécharger
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td style="font-weight: 800;">1.3 Mo</td>
                                        <td class="d-none d-md-table-cell">Stacie Hall</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Dernières sonorisations</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Ann.</th>
                                        <th class="d-none d-xl-table-cell">Nom de fichier</th>
                                        <th class="d-none d-xl-table-cell">Date</th>
                                        <th>Réf.</th>
                                        <th class="d-none d-md-table-cell">Partenaire</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-middle me-2 fas fa-fw fa-headphones"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Agriculeur Maraicher H/F</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"><i
                                                        class="icon-copy fa fa-play" aria-hidden="true"></i> Écouter
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td>12032021</td>
                                        <td class="d-none d-md-table-cell">Unitradex</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-middle me-2 fas fa-fw fa-headphones"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Agriculeur Maraicher H/F</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"><i
                                                        class="icon-copy fa fa-play" aria-hidden="true"></i> Écouter
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td>12032021</td>
                                        <td class="d-none d-md-table-cell">Unitradex</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-middle me-2 fas fa-fw fa-headphones"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Agriculeur Maraicher H/F</h5>
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"><i
                                                        class="icon-copy fa fa-play" aria-hidden="true"></i> Écouter
                                            </button>
                                        </td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td>12032021</td>
                                        <td class="d-none d-md-table-cell">Unitradex</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Liste des utilisateurs</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Part.</th>
                                        <th class="d-none d-xl-table-cell">Nom / Prénoms</th>
                                        <th class="d-none d-xl-table-cell">Type</th>
                                        <th>Creation</th>

                                        <th class="d-none d-md-table-cell">Organisation</th>
                                        <th class="d-none d-md-table-cell">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Yann Polrot</h5>
                                        </td>
                                        <td class="d-none d-xl-table-cell">User</td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>

                                        <td class="d-none d-md-table-cell">Unitradex</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Yann Polrot</h5>
                                        </td>
                                        <td class="d-none d-xl-table-cell">User</td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>

                                        <td class="d-none d-md-table-cell">Unitradex</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Yann Polrot</h5>
                                        </td>
                                        <td class="d-none d-xl-table-cell">User</td>
                                        <td class="d-none d-xl-table-cell">31/06/2018</td>

                                        <td class="d-none d-md-table-cell">Unitradex</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <div class="card-actions float-end">
                                        <a href="#" class="me-1">
                                            <i class="align-middle" data-feather="refresh-cw"></i>
                                        </a>
                                        <div class="d-inline-block dropdown show">
                                            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
                                                <i class="align-middle" data-feather="more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="font-weight: bold;">Liste des partenaires</h4>
                                </div>
                                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                                    <thead>
                                    <tr>
                                        <th>Part.</th>
                                        <th class="d-none d-xl-table-cell">Organisation</th>

                                        <th>Creation</th>
                                        <th class="d-none d-md-table-cell">Bouton</th>
                                        <th class="d-none d-md-table-cell">Users actifs</th>
                                        <th class="d-none d-md-table-cell">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Unitradex</h5>
                                        </td>

                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td class="d-none d-md-table-cell">Lecteur</td>
                                        <td class="d-none d-md-table-cell">2/4</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Unitradex - 2</h5>
                                        </td>

                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td class="d-none d-md-table-cell">Lecteur</td>
                                        <td class="d-none d-md-table-cell">7/10</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="font-weight: bold;"><i
                                                        class="align-self-center me-2 fas fa-fw fa-address-card"></i></h4>
                                        </td>
                                        <td>
                                            <h5 class="font-16">Unitradex - 3</h5>
                                        </td>

                                        <td class="d-none d-xl-table-cell">31/06/2018</td>
                                        <td class="d-none d-md-table-cell">Lecteur</td>
                                        <td class="d-none d-md-table-cell">3/5</td>
                                        <td>
                                            <div class="btn-group" role="group"
                                                 aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button id="btnGroupDrop1" type="button"
                                                            class="btn btn-primary dropdown-toggle"
                                                            data-bs-toggle="dropdown" aria-expanded="false"> Action
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item" href="#">Activer</a></li>
                                                        <li><a class="dropdown-item" href="#">Désactiver</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </main>

        {% block  footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-8 text-start">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms of Service</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4 text-end">
                            <p class="mb-0">
                                &copy; 2020 - <a href="dashboard-default.html" class="text-muted">Projet ISO-SONO</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

    </div>

</div>

<svg width="0" height="0" style="position:absolute">
    <defs>
        <symbol viewBox="0 0 512 512" id="ion-ios-pulse-strong">
            <path
                    d="M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z">
            </path>
        </symbol>
    </defs>
</svg>
<script src="{{ asset('js/app.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Orders",
                    fill: true,
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    borderWidth: 2,
                    data: [3, 2, 3, 5, 6, 5, 4, 6, 9, 10, 8, 9]
                },
                    {
                        label: "Sales ($)",
                        fill: true,
                        backgroundColor: "rgba(0, 0, 0, 0.05)",
                        borderColor: "rgba(0, 0, 0, 0.05)",
                        borderWidth: 2,
                        data: [5, 4, 10, 15, 16, 12, 10, 13, 20, 22, 18, 20]
                    }
                ]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 5
                        },
                        display: true,
                        gridLines: {
                            color: "rgba(0,0,0,0)",
                            fontColor: "#fff"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: 'pie',
            data: {
                labels: ["Chrome", "Firefox", "IE", "Other"],
                datasets: [{
                    data: [4401, 4003, 1589],
                    backgroundColor: [
                        window.theme.primary,
                        window.theme.warning,
                        window.theme.danger,
                        "#E8EAED"
                    ],
                    borderColor: "transparent"
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Bar chart
        new Chart(document.getElementById("chartjs-dashboard-bar"), {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "This year",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                    barPercentage: .75,
                    categoryPercentage: .5
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        stacked: false,
                        ticks: {
                            stepSize: 20
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        gridLines: {
                            color: "transparent"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var map = new JsVectorMap({
            map: "world",
            selector: "#world_map",
            zoomButtons: true,
            selectedRegions: [
                'US',
                'SA',
                'DE',
                'FR',
                'CN',
                'AU',
                'BR',
                'IN',
                'GB'
            ],
            regionStyle: {
                initial: {
                    fill: '#e4e4e4',
                    "fill-opacity": 0.9,
                    stroke: 'none',
                    "stroke-width": 0,
                    "stroke-opacity": 0
                },
                selected: {
                    fill: window.theme.primary,
                }
            },
            zoomOnScroll: false
        });
        window.addEventListener("resize", () => {
            map.updateSize();
        });
        setTimeout(function () {
            map.updateSize();
        }, 250);
    });
</script>
<script>
    $(function () {
        $('#datatables-dashboard-projects').DataTable({
            pageLength: 6,
            lengthChange: false,
            bFilter: false,
            autoWidth: false
        });
    });
</script>
<script>
    $(function () {
        $('#datetimepicker-dashboard').datetimepicker({
            inline: true,
            sideBySide: false,
            format: 'L'
        });
    });
</script>

</body>

</html>